<mat-toolbar color="primary">
  <span>IQB Components</span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-list>
      <mat-list-item><a mat-button href="#alert">Alert</a></mat-list-item>
      <mat-list-item><a mat-button href="#bugReportDialog">BugReportDialog</a></mat-list-item>
      <mat-list-item><a mat-button href="#bytesPipe">BytesPipe</a></mat-list-item>
      <mat-list-item><a mat-button href="#confirmDialog">ConfirmDialog</a></mat-list-item>
      <mat-list-item><a mat-button href="#customtextPipe">CustomtextPipe</a></mat-list-item>
      <mat-list-item><a mat-button href="#messageDialog">MessageDialog</a></mat-list-item>
      <mat-list-item><a mat-button href="#serverError">ServerError</a></mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <showcase-alert class="item"></showcase-alert>
    <showcase-bug-report-dialog class="item"></showcase-bug-report-dialog>
    <showcase-bytes-pipe class="item"></showcase-bytes-pipe>
    <showcase-confirm-dialog class="item"></showcase-confirm-dialog>
    <showcase-customtext class="item"></showcase-customtext>
    <showcase-message-dialog class="item"></showcase-message-dialog>
    <showcase-server-error class="item"></showcase-server-error>
  </mat-sidenav-content>
</mat-sidenav-container>
