<h1 class="mat-h1">IQB Components - Showcase - Lazy loaded module uses customtext pipe</h1>

<div>
  <mat-card id="customText">
    <mat-card-header>
        <mat-card-title>Custom Text in lazy loaded module</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field appearance="outline">
          <mat-label>Text 3</mat-label>
          <input matInput [(ngModel)]="customTextValues.ctv3" name="ctv3">
        </mat-form-field>

        <mat-form-field  appearance="outline">
          <mat-label>Text 4</mat-label>
          <input matInput placeholder="" [(ngModel)]="customTextValues.ctv4" name="ctv4">
        </mat-form-field>
      </form>
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button (click)="applyCustomTexts()">Apply settings</button>
        <button mat-raised-button (click)="goBack()">Go back home</button>
    </mat-card-actions>

    <mat-card-footer>
      Piped via CustomText:
      <ul>
        <li>Text 1 (from root component): {{'Text 1 default' | customtext:'ctv1' | async}}</li>
        <li>Text 2 (from root component): {{'Text 2 default' | customtext:'ctv2':'other_replacement' | async}}</li>
        <li>Text 3 (from lazy component): {{'Text 3 default' | customtext:'ctv3' | async}}</li>
        <li>Text 4 (from lazy component): {{'Text 4 default' | customtext:'ctv4' | async}}</li>
      </ul>
    </mat-card-footer>
  </mat-card>
</div>
